/*bodyにdisplay:flex以下を記入*/

body {
    background-color: #FAF0F0;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
/* 全てのdivにmargin:autoを与える */
div{
    margin: auto;
}
.coupleimage img{
    width: 400px;
}
.subtitle{
    font-family: 'Noto Serif JP',"YuMincho","Hiragino Mincho ProN";
    padding-top:60px;
    padding-bottom:20px;
    text-align: Center;
    font-size: 30px;
    
    }

.coupleimage {
    margin:auto ;
 }

.img {
    display: block;
  }

.introduction {
    text-align:center;
}

.introduction_text {
    font-size: 12px;
    font-family: Noto Serif JP ;
    color: #473131;
}

.detail_button {
    left: 50%;
    border: none;
    background-color: white;
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-family: Noto Sans JP ;
    border-radius: 100px;
    box-shadow: 2px 2px 4px 0 #473131;
    margin-bottom:30px;
}


.Happiness p{
    font-size:14px;
    color:#FB7D7D;
    text-decoration:underline;
    font-family: Noto Serif JP;
    font-weight: bold;
}
.Happiness {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.giftlist_text {
    font-size:14px;
    color:#473131;
    font-family: Noto Sans JP;
    font-weight: bold;
}

.line {
        margin-left:10px;
        width: 80px;
        height: 6px;
        background-color: #F6DA91;
        
        border-radius: 3px;
         margin-bottom:20px;
    }




.wrapper {
    max-width: 800px; /* 一定の範囲を800pxに指定 */
    overflow-x: scroll;
    }

.scroll-container {
    overflow-x: scroll;
    white-space: nowrap;
    }

    .scroll-item {
    display: inline-block;
    border-radius: 100px;
    background-color: #ccc;
    margin-right: 10px;
    }
.mattari_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px; /* ボタンの幅を指定 */
    height: 300px; /* ボタンの高さを指定 */
    border: none; /* ボタンの枠線を消去 */
    background-color: #fba5a5; /* ボタンの背景色を指定 */
    border-radius: 30px;
    box-shadow: 1px 1px 2px 0 #962626;
    cursor: pointer; /* マウスカーソルをポインターにする */
}

.mattari_image {
    width: 80%; /* 画像の幅を指定 */
}

.mattari_image img{
    width: 100%;
    height: auto;
}

.mattari_text {
    font-size: 15px; /* テキストのフォントサイズを指定 */
    text-align: center; /* テキストを中央揃えにする */
    font-family: Noto Sans JP ;
    color: #473131;
    margin-top: 20%;
    
}


